{
    "presets": [
        "next/babel",
        "@zeit/next-typescript/babel",
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "babel-plugin-styled-components",
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@components": ["./components"],
                    "@public": ["./public"]
                },
                "extensions": [".wasm", ".mjs", ".js", ".jsx", ".json", ".ts", ".tsx", ".jpg", ".png"]
            }
        ]
    ]
}
