{
    "presets": ["next/babel", "@babel/preset-react", "@babel/preset-typescript"],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true,
                "displayName": true,
                "preprocess": true
            }
        ],
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@components": ["./components"],
                    "@containers": ["./containers"],
                    "@public": ["./public"]
                },
                "extensions": [".wasm", ".mjs", ".js", ".jsx", ".json", ".ts", ".tsx", ".jpg", ".png"]
            }
        ]
    ]
}
